@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Magra:wght@400;700&family=Quicksand:wght@400;500;700&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
}

.row {
  --bs-gutter-x: 0
}